
.header{
    display:flex;
    justify-content: space-between;
    margin: 10px;
    border:1px solid black;
}

.nav-items > ul{
    list-style-type: none;/*To remove dot from front of list elements*/
    display: flex;
}

.nav-items > ul > li{
    padding: 10px; 
}

.logo{
    width: 100px;
}

.card{
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.card > img{
    width: 100%;
}

.Body{
    border: 1px black solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.search-container{
    width: 98.5%;
    margin: 10px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: ; */
}

.resturantcard-list{
    display: flex;
    flex-wrap: wrap;
    justify-content:first baseline;
}

.shimmer-card{
    width: 200px;
    height: 200px;
    background: lightgray;
    margin: 20px;
}

.card_2{
    /* width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px; */
    display: flex;
}

.card_2 > img{
    /* width: 100%; */
}